In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import re
import glob
from PIL import Image
import os

In [2]:
numbers = re.compile(r'(\d+)')
def numericalSort(value):
    parts = numbers.split(value)
    parts[1::2] = map(int, parts[1::2])
    return parts

In [17]:
DIR = '../out/Train.csv'
data = pd.read_csv(DIR)
data.head()

   Unnamed: 0     x    y  Layer_number  target
0           0   307  704             1       0
1           1  1004  896             1       1
2           2   312  539             1       1
3           3   278  608             1       1
4           4   215  558             1       0

In [18]:
layer_1_data = data.loc[data['Layer_number'] == 8]
layer_1_data

       Unnamed: 0    x    y  Layer_number  target
43048       43048  794  838             8       1
43049       43049  454   65             8       0
43050       43050  570  520             8       0
43051       43051  299  336             8       0
43052       43052  475  443             8       1
...           ...  ...  ...           ...     ...
62791       62791  857  850             8       1
62792       62792  317  156             8       0
62793       62793  173  626             8       0
62794       62794  439  471             8       1
62795       62795  911  823             8       1

[19748 rows x 5 columns]

In [19]:
import rasterio
from rasterio.transform import from_origin
from PIL import Image
 
# Assumes columns: x, y, value
x = layer_1_data['x']
y = layer_1_data['y']
values = layer_1_data['target']

width = 1024
height = 1024

image = np.full((int(height), int(width)), 0)  # or use np.zeros

for xi, yi, val in zip(x, y, values):
    image[int(xi), int(yi)] = val 

Image.fromarray((image * 255).astype(np.uint8)).save('../out/train.png')
print("Saved image as output.tif")

Saved image as output.tif